---
layout: default
title: Homepage
---
<div id="about">
	{% capture my_about %}{% include about.md %}{% endcapture %}
	{{ my_about | markdownify }}
</div>

<div id="stream">
	<div id="stream-iframe"></div>
	<div id="stream-offline">
		<div id="stream-offline-info">
			<h3>Twitch stream</h3>
			<p>Stream is offline. Come back later to watch some video games or livecoding and have a chat!</p>
		</div>
	</div>
	<h3></h3>
	<div id="stream-info">
		<span id="viewers"></span>
		<span id="followers"></span>
	</div>
	
	
</div>

<div id="lastposts">
	<h2>Last blog entries</h2>
	<ul>
	{% for post in site.posts limit:5 %}
		<li>
		  	{{ post.date | date: "%B %d, %Y" }}: <a href="{{ post.url }}">{{ post.title }}</a>
		</li>
	{% endfor %}
	</ul>
	<a href="/blog.html" id="seemore">See more</a>
</div>

<script src= "http://player.twitch.tv/js/embed/v1.js"></script>
<script type="text/javascript">
	$.getJSON( "https://api.twitch.tv/kraken/streams/hereismass?callback=?", function(response) {
	  if (response.stream){
	  	//if stream online
	  	var options = {
	        width: 670,
	        height: 408,
	        channel: "hereismass"     
	    };
	    var player = new Twitch.Player("stream-iframe", options);
	    //player.setVolume(0.5);
	    $('#viewers').html('<i class="fa fa-eye fa-fw"></i>' + response.stream.viewers);
	    $('#followers').html('<i class="fa fa-heart fa-fw"></i>' + response.stream.channel.followers);
	    $('#stream h3').text(response.stream.channel.status);
	    $('#stream h3').show();
	    $('#stream-offline').hide();
	    $('#stream').show();
	  }else{
	  	//if stream offline
	  	$.getJSON( "https://api.twitch.tv/kraken/channels/hereismass?callback=?", function(response) {
	  		$('#stream-offline').css("background-image", "url(" + response.video_banner + ")");
		  	$('#stream-iframe').hide();
	    	$('#stream').show();
	  	});
	  }
	});
</script>