@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(to top, rgba(0, 56, 64, 0.9), rgba(0, 0, 0, 0.7)), url("images/background.jpg");
  background-size: auto, cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
}

a {
  color: inherit;
  outline: 0;
  text-decoration: none;
  transition: color .2s;
}

a:hover {
  color: #aaa;
}

#scrolldown {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

header {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-weight: 700;
  font-size: 4vw;
}

header #socials {
  margin: 2vw;
  font-size: 3vw;
}

header #socials a {
  padding: 0 5px;
}

section article {
  padding: 5vw 15vw 10vw 15vw;
  display: flex;
  align-items: center;
  position: relative;
}

section article:before {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  display: block;
  height: 5vw;
  position: absolute;
  top: -5vw;
  left: 0;
  width: 100%;
}

section article:last-child {
  padding-bottom: 5vw;
}

section article .article-content {
  text-align: right;
  width: 100%;
}

section article .article-content h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2vw;
  letter-spacing: 0.1vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 2vw;
  margin-bottom: 2vw;
}

section article .article-content p {
  line-height: 2;
  margin-bottom: 2vw;
}

section article .article-content a {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1vw;
}

section article .article-content a i {
  padding-right: 0.5vw;
}

section article .article-content + .article-image {
  margin-left: 5vw;
}

section article .article-image {
  flex-shrink: 0;
  width: 15vw;
  height: 15vw;
}

section article .article-image img {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
}

section article:nth-child(odd) .article-content {
  text-align: left;
}

section article:nth-child(odd) .article-content + .article-image {
  margin-left: 0;
  margin-right: 5vw;
}

section article:nth-child(odd) .article-image {
  order: -1;
}

section article:nth-child(4n+1) {
  background: #003840;
}

section article:nth-child(4n+1):before {
  box-shadow: inset 0 -1px 0 0 #003840, 0 1px 0 0 #003840;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 0,100 100,100' fill='%23003840' /%3E%3C/svg%3E");
}

section article:nth-child(4n+2) {
  background: #005A5B;
}

section article:nth-child(4n+2):before {
  box-shadow: inset 0 -1px 0 0 #005A5B, 0 1px 0 0 #005A5B;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' fill='%23005A5B' /%3E%3C/svg%3E");
}

section article:nth-child(4n+3) {
  background: #007369;
}

section article:nth-child(4n+3):before {
  box-shadow: inset 0 -1px 0 0 #007369, 0 1px 0 0 #007369;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 0,100 100,100' fill='%23007369' /%3E%3C/svg%3E");
}

section article:nth-child(4n+4) {
  background: #008C72;
}

section article:nth-child(4n+4):before {
  box-shadow: inset 0 -1px 0 0 #008C72, 0 1px 0 0 #008C72;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' fill='%23008C72' /%3E%3C/svg%3E");
}

@media screen and (max-width: 1680px) {
  body {
    font-size: 1.5vw;
  }
  header h1 {
    font-size: 4vw;
  }
  header #socials {
    margin: 2vw;
    font-size: 3vw;
  }
  section article {
    padding: 5vw 15vw 10vw 15vw;
  }
  section article:before {
    height: 5vw;
    top: -5vw;
  }
  section article:last-child {
    padding-bottom: 5vw;
  }
  section article .article-content h3 {
    font-size: 2vw;
    padding-bottom: 2vw;
    margin-bottom: 2vw;
  }
  section article .article-content p {
    margin-bottom: 2vw;
  }
  section article .article-image {
    width: 15vw;
    height: 15vw;
  }
}

@media screen and (max-width: 1280px) {
  body {
    font-size: 2vw;
  }
  header h1 {
    font-size: 6vw;
  }
  header #socials {
    margin: 2vw;
    font-size: 4vw;
  }
  section article {
    padding: 5vw 10vw 10vw 10vw;
  }
  section article:before {
    height: 5vw;
    top: -5vw;
  }
  section article:last-child {
    padding-bottom: 5vw;
  }
  section article .article-content h3 {
    font-size: 3vw;
    padding-bottom: 3vw;
    margin-bottom: 3vw;
  }
  section article .article-content p {
    margin-bottom: 3vw;
  }
  section article .article-image {
    width: 20vw;
    height: 20vw;
  }
}

@media screen and (max-width: 736px) {
  body {
    font-size: 2vw;
  }
  header h1 {
    font-size: 7vw;
  }
  header #socials {
    margin: 2vw;
    font-size: 5vw;
  }
  section article {
    padding: 5vw 10vw 10vw 10vw;
  }
  section article:before {
    height: 5vw;
    top: -5vw;
  }
  section article:last-child {
    padding-bottom: 5vw;
  }
  section article .article-content h3 {
    font-size: 3vw;
    padding-bottom: 3vw;
    margin-bottom: 3vw;
  }
  section article .article-content p {
    margin-bottom: 3vw;
  }
  section article .article-image {
    width: 20vw;
    height: 20vw;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 2vw;
  }
  header h1 {
    font-size: 7vw;
  }
  header #socials {
    margin: 2vw;
    font-size: 5vw;
  }
  section article {
    padding: 5vw 5vw 10vw 5vw;
  }
  section article:before {
    height: 5vw;
    top: -5vw;
  }
  section article:last-child {
    padding-bottom: 5vw;
  }
  section article .article-content h3 {
    font-size: 3vw;
    padding-bottom: 3vw;
    margin-bottom: 3vw;
  }
  section article .article-content p {
    margin-bottom: 3vw;
  }
  section article .article-image {
    width: 20vw;
    height: 20vw;
  }
}
