// variables

$sizes: (
  largest: (
    content-width: 1380px,
    content-gap: 100px,
    fs-big: 80px,
    fs-normal: 30px,
    fs-icons: 60px,
    title-margin: 20px,
    socials-margin: 30px,
    socials-gap: 50px,
    hr-width: 100px,
    hr-margin: 40px,
    projects-gap: 30px,
    projects-padding: 20px,
    links-gap: 20px,
    links-margin: 15px,
    projects-height: 80px,
    image-width: 480px,
    image-height: 720px,
  ),
  large: (
    content-width: 1100px,
    content-gap: 50px,
    fs-big: 65px,
    fs-normal: 24px,
    fs-icons: 50px,
    title-margin: 20px,
    socials-margin: 30px,
    socials-gap: 50px,
    hr-width: 100px,
    hr-margin: 40px,
    projects-gap: 30px,
    projects-padding: 20px,
    links-gap: 20px,
    links-margin: 15px,
    projects-height: 80px,
    image-width: 480px,
    image-height: 720px,
  ),
  normal: (
    content-width: 85vw,
    content-gap: 3vw,
    fs-big: 4.5vw,
    fs-normal: 1.8vw,
    fs-icons: 3.6vw,
    title-margin: 1.5vw,
    socials-margin: 2vw,
    socials-gap: 4vw,
    hr-width: 100px,
    hr-margin: 5vw,
    projects-gap: 2vw,
    projects-padding: 2vw,
    links-gap: 2vw,
    links-margin: 1.5vw,
    projects-height: 5vw,
    image-width: 36vw,
    image-height: 52vw,
  ),
  tablet: (
    content-width: calc(100% - 30px),
    content-gap: 5vw,
    fs-big: 9vw,
    fs-normal: 4vw,
    fs-icons: 5vw,
    title-margin: 1.5vw,
    socials-margin: 2vw,
    socials-gap: 4vw,
    hr-width: 100px,
    hr-margin: 5vw,
    projects-gap: 3vw,
    projects-padding: 2vw,
    links-gap: 2vw,
    links-margin: 1.5vw,
    projects-height: 10vw,
    image-width: 100%,
    image-height: auto,
  ),
  mobile: (
    content-width: calc(100% - 30px),
    content-gap: 5vw,
    fs-big: 9vw,
    fs-normal: 4vw,
    fs-icons: 5vw,
    title-margin: 1.5vw,
    socials-margin: 2vw,
    socials-gap: 4vw,
    hr-width: 100px,
    hr-margin: 5vw,
    projects-gap: 3vw,
    projects-padding: 2vw,
    links-gap: 2vw,
    links-margin: 1.5vw,
    projects-height: 10vw,
    image-width: 100%,
    image-height: auto,
  ),
);

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;

// colors
$text-color: #fcfcfc;
$hover-color: #72b3ab;

$bg-gradient-1: #003942e6;
$bg-gradient-2: rgba(0, 0, 0, 0.7);
