// variables


$fs-big: 3vw;
$fs-title: 2vw;
$fs-normal: 1.5vw;

$fs-icons: 2vw;

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;


// colors
$text-color: #fff;
$hover-color: #aaa;

$bg-gradient-1: rgba(0, 56, 64, 0.90);
$bg-gradient-2: rgba(0, 0, 0, 0.7);

$border-color: rgba(255, 255, 255, 0.2);


// articles background colors
$bg-colors: #003840, #005A5B, #007369, #008C72;